# Combining Data

Practice combining data from two different data sets. In the same folder as this Jupyter notebook, there are two csv files:
* rural_population_percent.csv
* electricity_access_percent.csv

They both come from the World Bank Indicators data. 
* https://data.worldbank.org/indicator/SP.RUR.TOTL.ZS
* https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS

The rural populaton data represents the percent of a country's population that is rural over time. The electricity access data shows the percentage of people with access to electricity.

In this exercise, you will combine these two data sets together into one pandas data frame.

# Exercise 1

Combine the two data sets using the [pandas concat method](https://pandas.pydata.org/pandas-docs/stable/merging.html). In other words, find the union of the two data sets.

In [26]:
# TODO: import the pandas library
import pandas as pd
# TODO: read in each csv file into a separate variable
# HINT: remember from the Extract material that these csv file have some formatting issues
# HINT: The file paths are 'rural_population_percent.csv' and 'electricity_access_percent.csv'
df_rural = pd.read_csv('rural_population_percent.csv', skiprows=4)
df_electricity = pd.read_csv('electricity_access_percent.csv', skiprows=4)
# TODO: remove the 'Unnamed:62' column from each data set
df_rural = df_rural.drop('Unnamed: 62', axis=1)
# TODO: combine the two data sets together using the concat method
df_electricity  = df_electricity.drop('Unnamed: 62', axis=1)

# Exercise 2 (Challenge)

This exercise is more challenging.

The resulting data frame should look like this:


|Country Name|Country Code|Year|Rural_Value|Electricity_Value|
|--|--|--|--|--|
|Aruba|ABW|1960|49.224|49.239|

... etc.

Order the results in the dataframe by country and then by year

Here are a few pandas methods that should be helpful:
* [melt](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html)
* [drop](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)
* [merge](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.merge.html)
* [sort_values](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)

HINT: You can use country name, country code, and the year as common keys between the data sets

In [27]:
# TODO: merge the data sets together according to the instructions. First, use the 
# melt method to change the formatting of each data frame so that it looks like this:
# Country Name, Country Code, Year, Rural Value
# Country Name, Country Code, Year, Electricity Value
df_rural = df_rural.melt(id_vars = ['Country Name', 'Country Code'], 
              value_vars = ['{}'.format(year) for year in range(1960, 2018)], 
              var_name = 'Year', 
              value_name = 'Rural_Value')
df_electricity = df_electricity.melt(id_vars = ['Country Name', 'Country Code'], 
              value_vars = ['{}'.format(year) for year in range(1960, 2018)], 
              var_name = 'Year', 
              value_name = 'Electricity_Value')
# TODO: drop any columns from the data frames that aren't needed

# TODO: merge the data frames together based on their common columns
# in this case, the common columns are Country Name, Country Code, and Year
df_rural.merge(df_electricity, on=['Country Code', 'Year'])
# TODO: sort the results by country and then by year

df_combined = df_rural.sort_values(['Country Name', 'Year'])
df_combined.head()

     Country Name Country Code  Year  Rural_Value
1     Afghanistan          AFG  1960       91.779
265   Afghanistan          AFG  1961       91.492
529   Afghanistan          AFG  1962       91.195
793   Afghanistan          AFG  1963       90.890
1057  Afghanistan          AFG  1964       90.574

In [28]:
df_combined

      Country Name Country Code  Year  Rural_Value
1      Afghanistan          AFG  1960       91.779
265    Afghanistan          AFG  1961       91.492
529    Afghanistan          AFG  1962       91.195
793    Afghanistan          AFG  1963       90.890
1057   Afghanistan          AFG  1964       90.574
...            ...          ...   ...          ...
14255     Zimbabwe          ZWE  2013       67.346
14519     Zimbabwe          ZWE  2014       67.499
14783     Zimbabwe          ZWE  2015       67.624
15047     Zimbabwe          ZWE  2016       67.723
15311     Zimbabwe          ZWE  2017       67.793

[15312 rows x 4 columns]